*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
form{
    width: 96%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form fieldset{
    padding: 20px 40px;
    border: 1px solid #CCC;
}

form legend{
    text-align: left;
    font-size: 17px;
    color: rgb(130,130,130);
}
form input[type=text]{
    display: inline-block;
    margin-top: 30px;
    width: 80%;
    padding: 10px 13px;
}
form input[type=text]:focus{
    outline: 0;
    background-color: #000;
}
form select{
    width: calc(80% + 26px);
    margin-top: 30px;
    display: inline-block;
    padding: 10px 13px;
}

















