*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

.center{
    box-sizing: content-box;
    width: 1280px;
    margin: 0 auto;
    background-color: gray;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.artigo{
    margin-bottom: 40px;
    width: 100%;
    
}

























