*{
    margin: 0;
    padding: 0;
}


/* Estilo para o conteúdo do nosso site */


.artigo{
    width: 1280px;
    background-color: #ccc;
    padding: 40px;
    margin: 40px auto;
    text-align: center;
    
}
.artigo h1{
    color: #0000ff;
    font-size: 200%;
    font-family: "tahoma";
    font-style: normal;
    font-weight: normal;
/*    font-variant: small-caps;*/
}

.artigo p{
    color: #b4b4b4;
    text-align: left;
    font-size: 17px;
    font-family: 'tahoma';
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    margin: 12px;
    
}