*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
.teste, .teste1, .teste2{
    width: 300px;
    height: 30px;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
/*    background-color: #ccc;*/
}
.teste1{
    background-color: rgb(98,98,98);
}
.teste2{
    background-color: rgb(50,50,50);
}


/*EFEITO HOVER*/
/*
.teste:hover{
    height: 900px;
    background-color: blue;
}
.teste:hover, .teste1, .teste2{
    vertical-align: top;
}
*/


/*EFEITO AO PRESSIONAR O MOUSE NO ELEMENTO */
/*
.teste:active{
    background-color: black;
}
*/

/*FOCUS SERVE PARA QUANDO FOCANDO NO FORMULARIO */
/*
.teste:focus{
    background-color: red;
}
.textarea1{
    display: block;
    width: 600px;
    height: 400px;
}
*/




.link1:link{
    color: orange;
}



.link1:visited{
    color: purple;
}























