*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}


.article{
    margin: auto;
    width: 1280px;
    height: 200%;
    max-height: 20%;
    min-height: 50%;
    background-color: red;
}


























